/* Styles communs */
body, html {
    margin: 0;
    padding: 0;
    font-family: "M PLUS Code Latin", monospace;
    font-optical-sizing: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    text-align: center;
    width: 90vw; /* Utiliser une largeur relative */
    max-width: 400px; /* Limite maximale pour les grandes écrans */
}

.logo {
    width: 250px; /* Ajuster la taille du logo selon vos besoins */
    margin: 0 auto;
}

h2 {
    font-size: 14px;
    margin: 10px 0 100px 0; /* Ajouter de l'espace entre "la calculette paritaire" et "16,5%" */
}

.key-figure {
    font-size: 64px;
    margin: 20px 0;
}

p {
    font-size: 3vw; /* Utiliser une taille relative */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-size: 3vw; /* Utiliser une taille relative */
}


.reset, .home-link {
    position: absolute;
    top: 20px;
}

.reset {
    left: 20px;
    background: none;
    border: 2px solid #A13303;
    border-radius: 50%;
    color: white;
    font-family: "M PLUS Code Latin", monospace;
    font-optical-sizing: auto;
    font-size: 3vw; /* Utiliser une taille relative */
    width: 12vw; /* Utiliser une taille relative */
    height: 12vw; /* Utiliser une taille relative */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-link {
    right: 20px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.display {
    margin-top: 50px;
    text-align: right;
}

.display #displayText {
    font-size: 3vw; /* Utiliser une taille relative */
}

.amount {
    font-size: 20vw; /* Utiliser une taille relative */
    opacity: 0.7;
}

.keypad {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.numbers button {
    background-color: #d46f3e;
    border: 2px solid #A13303;
    border-radius: 50%;
    width: 20vw; /* Utiliser une taille relative */
    height: 20vw; /* Utiliser une taille relative */
    font-size: 6vw; /* Utiliser une taille relative */
    color: white;
}

.equal {
    background-color: white !important;
    color: #d46f3e !important;
    border: 2px solid #A13303;
    border-radius: 50%;
    width: 20vw; /* Utiliser une taille relative */
    height: 20vw; /* Utiliser une taille relative */
    font-size: 6vw; /* Utiliser une taille relative */
    grid-column: 3;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.equal .icon {
    width: 10vw;
    height: 10vw;
}

.shares {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shares-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shares-section button {
    background: none;
    border: none;
    color: white;
    font-size: 8vw; /* Utiliser une taille relative */
}

#menShares, #womenShares {
    font-size: 8vw; /* Ajuster la taille du texte pour les parts hommes et femmes */
}

.result-text {
    font-size: 3vw; /* Utiliser une taille relative */
}

.result-amount {
    font-size: 20vw; /* Utiliser une taille relative */
    opacity: 0.7;
}

/* Styles spécifiques aux pages */
body.index-page {
    background-color: #d2a97f;
}

body.calcul-page {
    background-color: #d46f3e;
}
/* Media queries pour ajuster les styles en fonction de la taille de l'écran */
@media (min-width: 768px) {
    .container {
        width: 250px; /* Ajuster la largeur pour les écrans plus larges */
    }

    h1 {
        font-size: 32px; /* Ajuster la taille pour les écrans plus larges */
    }

    h2 {
        font-size: 14px; /* Ajuster la taille pour les écrans plus larges */
    }

    .key-figure {
        font-size: 64px; /* Ajuster la taille pour les écrans plus larges */
    }

    p {
        font-size: 12px; /* Ajuster la taille pour les écrans plus larges */
    }

    .button {
        font-size: 12px; /* Ajuster la taille pour les écrans plus larges */
    }

    .reset {
        font-size: 14px; /* Ajuster la taille pour les écrans plus larges */
        width: 60px; /* Ajuster la taille pour les écrans plus larges */
        height: 60px; /* Ajuster la taille pour les écrans plus larges */
    }

    #menShares, #womenShares {
        font-size: 22px; 
    }
    
    
    .home-link {
        font-size: 12px; /* Ajuster la taille pour les écrans plus larges */
    }

    .equal .icon {
        width: 30px;
        height: 30px;
    }

    .display #displayText {
        font-size: 12px; /* Ajuster la taille pour les écrans plus larges */
    }

    .amount {
        font-size: 64px; /* Ajuster la taille pour les écrans plus larges */
    }

    .numbers button, .equal {
        width: 60px; /* Ajuster la taille pour les écrans plus larges */
        height: 60px; /* Ajuster la taille pour les écrans plus larges */
        font-size: 24px; /* Ajuster la taille pour les écrans plus larges */
    }

    .shares-section button {
        font-size: 18px; /* Ajuster la taille pour les écrans plus larges */
    }

    .result-text {
        font-size: 12px; /* Ajuster la taille pour les écrans plus larges */
    }

    .result-amount {
        font-size: 64px; /* Ajuster la taille pour les écrans plus larges */
    }
}